In [2]:
import pandas as pd

In [3]:
housing_=pd.read_csv("D:\BIA\Housing.csv")

In [13]:
housing_

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [11]:
#Furnishing Status and their count

housing_['furnishingstatus'].value_counts()

furnishingstatus
semi-furnished    227
unfurnished       178
furnished         140
Name: count, dtype: int64

In [41]:
#Averge Price of House in Main Roads.

avg_price = housing_.loc[housing_['mainroad']=='yes', 'price'].mean()
avg_price_int = int(avg_price)
print(avg_price_int)

4991777

In [14]:
#Houses whose area >10000.

housing_.loc[(housing_['area']>10000)]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
56,7343000,11440,4,1,2,yes,no,yes,no,no,1,yes,semi-furnished
64,7000000,11175,3,1,1,yes,no,yes,no,yes,1,yes,furnished
66,6930000,13200,2,1,1,yes,no,yes,yes,no,1,no,furnished
69,6790000,12090,4,2,2,yes,no,no,no,no,2,yes,furnished
82,6615000,10500,3,2,1,yes,no,yes,no,yes,1,yes,furnished
125,5943000,15600,3,1,1,yes,no,no,no,yes,2,no,semi-furnished
129,5873000,11460,3,1,3,yes,no,no,no,no,2,yes,semi-furnished
142,5600000,10500,4,2,2,yes,no,no,no,no,1,no,semi-furnished
146,5600000,10500,2,1,1,yes,no,no,no,no,1,no,semi-furnished
171,5250000,10269,3,1,1,yes,no,no,no,no,1,yes,semi-furnished
186,5110000,11410,2,1,2,yes,no,no,no,no,0,yes,furnished
191,5040000,10700,3,1,2,yes,yes,yes,no,no,0,no,semi-furnished
211,4900000,12900,3,1,1,yes,no,no,no,no,2,no,furnished
224,4760000,10240,2,1,1,yes,no,no,no,yes,2,yes,unfurnished
277,4305000,10360,2,1,1,yes,no,no,no,no,1,yes,semi-furnished
403,3500000,12944,3,1,1,yes,no,no,no,no,0,no,unfurnished

In [43]:
#Furnished Houses whose area > 10000.

housing_.loc[(housing_['area']>10000)&(housing_['furnishingstatus']=='furnished')]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
64,7000000,11175,3,1,1,yes,no,yes,no,yes,1,yes,furnished
66,6930000,13200,2,1,1,yes,no,yes,yes,no,1,no,furnished
69,6790000,12090,4,2,2,yes,no,no,no,no,2,yes,furnished
82,6615000,10500,3,2,1,yes,no,yes,no,yes,1,yes,furnished
186,5110000,11410,2,1,2,yes,no,no,no,no,0,yes,furnished
211,4900000,12900,3,1,1,yes,no,no,no,no,2,no,furnished

In [73]:
#aggregation of Furnishing status of houses

result = housing_.groupby(['furnishingstatus']).agg({'price':['mean','max'],'area':'mean'}).reset_index()

result.columns = ['furnishing_status', 'price_mean', 'pricemax', 'area_mean']

result['price_mean'] = result['price_mean'].round(0).astype(int)
result['price_max'] = result['pricemax'].astype(int)
result['area_mean'] = result['area_mean'].round(0).astype(int)

print (result)

  furnishing_status  price_mean  pricemax  area_mean  price_max
0         furnished     5495696  13300000       5688   13300000
1    semi-furnished     4907524  12250000       5166   12250000
2       unfurnished     4013831  10150000       4708   10150000

In [67]:

#Calculate the mean price for each furnishing status group whose area >5000.


result=housing_.loc[(housing_['area']>5000),:].groupby(['furnishingstatus']).agg({'price':'mean'}).reset_index()
result.columns=['furnishung','price_mean']
result['price_mean']=result['price_mean'].round(0).astype(int)
print(result)

       furnishung  price_mean
0       furnished     6507146
1  semi-furnished     5778893
2     unfurnished     5386000

In [89]:

#Calculate the mean price for each furnishing status group.

result1=housing_.groupby(["furnishingstatus"]).agg({'price':'mean'}).reset_index()
result1['price']=result1['price'].astype(int)

print(result1)

  furnishingstatus    price
0        furnished  5495696
1   semi-furnished  4907524
2      unfurnished  4013831

In [90]:
#Average price of houses where number of rooms is greater than 3.


housing_[housing_["bedrooms"]>3]["price"].mean().astype(int)

np.int64(5720635)

In [92]:
(housing_["airconditioning"]
).value_counts()

airconditioning
no     373
yes    172
Name: count, dtype: int64

In [145]:
# Total number of houses for each furnishingstatus & stories


housing_.groupby(['furnishingstatus', 'stories']).size().reset_index(name="count")

   furnishingstatus  stories  count
0         furnished        1     53
1         furnished        2     58
2         furnished        3     13
3         furnished        4     16
4    semi-furnished        1     85
5    semi-furnished        2    115
6    semi-furnished        3     14
7    semi-furnished        4     13
8       unfurnished        1     89
9       unfurnished        2     65
10      unfurnished        3     12
11      unfurnished        4     12

In [97]:

#List the top 5 houses with highest area but only for 'semi-furnished' houses.

avg=housing_.loc[housing_['furnishingstatus']=='semi-furnished'].sort_values(by='area',ascending=False).head(5)
print(avg.reset_index())

   index    price   area  bedrooms  bathrooms  stories mainroad guestroom  \
0    125  5943000  15600         3          1        1      yes        no
1    129  5873000  11460         3          1        3      yes        no
2     56  7343000  11440         4          1        2      yes        no
3    191  5040000  10700         3          1        2      yes       yes
4    146  5600000  10500         2          1        1      yes        no

  basement hotwaterheating airconditioning  parking prefarea furnishingstatus
0       no              no             yes        2       no   semi-furnished
1       no              no              no        2      yes   semi-furnished
2      yes              no              no        1      yes   semi-furnished
3      yes              no              no        0       no   semi-furnished
4       no              no              no        1       no   semi-furnished

In [8]:
top5_semi = housing_.loc[housing_['furnishingstatus']=='semi-furnished'].sort_values(by='area', ascending=False).head(5)
print(top5_semi)

       price   area  bedrooms  bathrooms  stories mainroad guestroom basement  \
125  5943000  15600         3          1        1      yes        no       no
129  5873000  11460         3          1        3      yes        no       no
56   7343000  11440         4          1        2      yes        no      yes
191  5040000  10700         3          1        2      yes       yes      yes
146  5600000  10500         2          1        1      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
125              no             yes        2       no   semi-furnished
129              no              no        2      yes   semi-furnished
56               no              no        1      yes   semi-furnished
191              no              no        0       no   semi-furnished
146              no              no        1       no   semi-furnished

In [18]:
#Find the minimum, maximum, and average area of houses having airconditioning but no guestroom.

filtered=housing_.loc[(housing_['airconditioning']=='yes')&(housing_['guestroom']=='no'),'area'].mean().max().min()
print('max :',filtered.max())
print('mean:',filtered.mean())

print('min :',filtered.min())

max : 15600
mean: 5802.5234375
min : 2275

In [110]:
#For each furnishing status, find the average number of bedrooms.

housing_.groupby('furnishingstatus')['bedrooms'].mean().astype(int)

furnishingstatus
furnished         3
semi-furnished    3
unfurnished       2
Name: bedrooms, dtype: int64